<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Near_Americano</title>
    <link rel="icon" href="/static/coffee_icon.png">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Inter');
        * {
            font-family: "Inter", "Noto Sans", "Nanum Gothic", sans-serif;
        }
        .customoverlay {position:relative;bottom:115px;border-radius:6px;border: 2px solid #acacac;border-bottom:2px solid #ACACAC;float:left;}
        .customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
        .customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:auto;background: #A84F26;background: #A84F26 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
        .customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:7px 20px 5px;font-size:15px;font-weight:550}
        .customoverlay .price {display:block;text-align:center;background:#fff;margin-right:35px;padding:5px 15px 7px;font-size:15px;font-weight:700;}
        .customoverlay img {vertical-align: text-bottom;}
        .customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    </style>
</head>
<body>
<div id="map" style="width:100%;height:85vh;"></div>
<p>
    가격 정보 있는 마커
    <button onclick="hidePriceMarkers()">숨기기</button>
    <button onclick="showPriceMarkers()">표시하기</button>
</p> 
<p>
    가격 정보 없는 마커
    <button onclick="hideNopriceMarkers()">숨기기</button>
    <button onclick="showNopriceMarkers()">표시하기</button>
</p>
<p>
    <input type = 'number' min = '500' max = '10000' step = '100' id = "targetprice", value = "3000">
    <button onclick="filterPriceMarkers()">원 이하 카페만 보기</button>
    * 카카오맵에 가격 정보를 등록하지 않은 가게는 표시되지 않을 수 있습니다.
</p>
<p>
    <button onclick="getGPS()">GPS 정보 요청</button>
    * 보안 문제로 실행되지 않을 수 있습니다.
</p>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7e9a9b13be9fa68e0f74c3f57b0000da"></script>

<script>
    const id_set = new Set(); // 중복 마커를 방지하기 위하여 마커를 생성한 id의 set을 생성
    const price_markers = [],
        noprice_markers = [],
        all_markers = [...price_markers, ...noprice_markers]; // 버튼으로 여러 마커 제어를 위한 리스트 생성
    
    const mapContainer = document.getElementById('map'), // 지도를 표시할 div 지정
        mapOption = { 
            center: new kakao.maps.LatLng(37.395616, 127.110570), // 초기 지도의 중심좌표(카카오 판교 오피스)
            level: 2 // 지도의 확대 레벨 
        }; 

    const map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성

    var mapClickHandler = function(mouseEvent) {
        // 지도를 클릭하면 마커가 이동하도록 한다.        
            let latlng = mouseEvent.latLng; 
            user_marker.setPosition(latlng);
            infowindow.setPosition(latlng);
        };
        
    kakao.maps.event.addListener(map, 'click', mapClickHandler);


    // 유저 마커 생성
    var lat = 37.395616,
        lon = 127.110570,
        locPosition = new kakao.maps.LatLng(lat, lon);

    var user_marker = new kakao.maps.Marker({  
        map: map, 
        position: locPosition,
        clickable: true
        }); 
    
    var infowindow = new kakao.maps.InfoWindow({
        content : " 마커 좌클릭 시 검색",
        removable : false
        });    

    infowindow.open(map, user_marker);

    kakao.maps.event.addListener(user_marker, 'click', userMarkerClickHandler);

    function userMarkerClickHandler(){
        var latlng = user_marker.getPosition(); // 현재 유저 마커의 위치를 저장
        map.setCenter(latlng); // 지도의 중심을 해당 위치로 이동
        infowindow.close(); // 로딩이 완료될 때까지 인포윈도우를 표시하지 않음
        user_marker.setClickable(false); // 마커가 클릭되지 않도록 지정
        lat = latlng.getLat();
        lon = latlng.getLng();
        postCafe(lat, lon)
            .then(res => JSON.parse(res))
            .then(res => showCafes(res));
    }

    async function postCafe(lat, lon) {
        var response;
        var options =  {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    "lat" : lat,
                    "lon" : lon
                }),
                credentials: 'include'
            }
        try {
            response = await fetch('/', options).then(res => res.json());
        } catch(error) {
            console.log("요청 실패");
        } finally {
            user_marker.setClickable(true);
            infowindow.open(map, user_marker);
        }
        return response;
    }

    const imageSrc = '/static/coffee_marker_image.png', // 마커이미지의 주소  
        imageSize = new kakao.maps.Size(62, 68), // 마커이미지의 크기
        imageOption = {offset: new kakao.maps.Point(31, 68)}; // 마커의 좌표와 일치시킬 이미지 내 좌표 설정
    const markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption); // 마커이미지 생성

    function showCafes(result){
        // 응답 정보를 바탕으로 카페 마커를 생성
        for (index in result.Cafe) {
            // 각 카페별 마커 생성
                cafe = result.Cafe[index]; // 카페 정보
                if (id_set.has(cafe.id)){ // 이미 생성한 가게라면 넘어감
                    continue;
                } else {
                    const marker = new kakao.maps.Marker({ // 카페 마커 생성
                                    map: map,
                                    position: new kakao.maps.LatLng(cafe.y, cafe.x),
                                    image:markerImage,
                                    clickable : true
                                    });

                    const content = getOverlayContent(cafe);
                    
                    const overlay = new kakao.maps.CustomOverlay({ // 마커 오버레이 생성
                        content: content,
                        map: map,
                        position: marker.getPosition(),
                    });
                    
                    if (cafe.americano == 0){
                        overlay.setVisible(false); // 가격 정보가 없다면 초기에 오버레이가 안보이도록 설정
                        noprice_markers.push([marker, overlay, cafe.americano]); // 가격 없는 마커 리스트에 추가
                    }
                    else{
                        overlay.setVisible(true); // 오버레이가 보이도록 설정
                        price_markers.push([marker, overlay, cafe.americano]); // 가격 있는 마커 리스트에 추가
                    }

                    (function(marker, overlay) {
                        kakao.maps.event.addListener(marker, 'click', function() {
                            overlay.setVisible(!overlay.getVisible())  // 마커 클릭시 오버레이의 표시 여부를 반전시킴
                        });
                        kakao.maps.event.addListener(marker, 'mouseover', function() {
                            marker.setMap(null); // 마커 hover시 가려졌다가 다시 보이도록 설정하여 마커가 맨앞으로 이동하도록 함
                            marker.setMap(map);
                            if (overlay.getVisible()){ // 오버레이가 보인다면 마찬가지로 맨앞으로 이동하도록 함
                                overlay.setMap(null);
                                overlay.setMap(map);
                            };
                        });
                    })(marker, overlay); // 클로저 생성
                    id_set.add(cafe.id); // 목록에 추가
                };
            }
        };

    function getOverlayContent(cafe){
    // 카페 정보를 바탕으로 오버레이 컨텐츠 생성
    var content = '';
    if (cafe.americano==0){
        content = '<div class="customoverlay" style="bottom:97px;">' +
                  '  <a href="http://place.map.kakao.com/' + cafe.id + '" target="_blank">' +
                  '    <span class="title">' + cafe.place_name + '</span>' +
                  '  </a>' +
                  '</div>';                                    
    }
    else {
        content = '<div class="customoverlay">' +
                  '  <a href="http://place.map.kakao.com/' + cafe.id + '" target="_blank">' +
                  '    <span class="title">' + cafe.place_name + '</span>' +
                  '    <span class="price">' +
                  '       <img src="/static/coffee_icon.png">    '+ cafe.americano +
                  '    </span>' +
                  '  </a>' +
                  '</div>';
    }
    return content;
}

    function getGPS() {
        // GPS 요청을 실행하는 함수
        if (navigator.geolocation){
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    lat = position.coords.latitude,
                    lon = position.coords.longitude,
                    locPosition = new kakao.maps.LatLng(lat, lon);
                    map.setCenter(locPosition);
                    user_marker.setPosition(locPosition);
                },
                (error) => {
                    alert("GPS를 지원하지 않습니다");
                }
            )
        }
    }

    function setMarkers(markers, map) {
        // markers를 일괄적으로 보이거나 보이지 않도록 함
        for (var i = 0; i < markers.length; i++) {
            markers[i][0].setMap(map);
            markers[i][1].setMap(map);
        }            
    }

    function filterMarkers(markers, map, value){
        // 아메리카노 가격을 필터링하는 함수
        for (var i = 0; i<markers.length;i++){
            if (0 < markers[i][2] && markers[i][2] <= value) {
                // 커피 가격이 0보다 크고 value보다 작은 경우 map에 표시하도록 함.
                markers[i][0].setMap(map);
                markers[i][1].setMap(map);
            }
            else {
                markers[i][0].setMap(null);
                markers[i][1].setMap(null);
            }
        }
    }

    function showPriceMarkers() {
        setMarkers(price_markers, map);    
    }

    function hidePriceMarkers() {
        setMarkers(price_markers, null);    
    }

    function showNopriceMarkers() {
        setMarkers(noprice_markers, map);    
    }

    function hideNopriceMarkers() {
        setMarkers(noprice_markers, null);    
    }

    function filterPriceMarkers() {
        var input = document.getElementById('targetprice');
        if(input.value != null){
            filterMarkers(all_markers, map, input.value);
        }
    }

</script>
</body>
</html>